@model Product
@section Heading {
Create

}


@section Title {
    Create

}

<form class="form-control" method="post" asp-action="Create" asp-controller="Products" enctype="multipart/form-data">
    <label asp-for="Id" class="" ></label>
    <input asp-for="Id" class="form-control" disabled  />
    <span asp-validation-for="Id"></span>


    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" style="background:red" />
    <span asp-validation-for="Name"></span>


    <label asp-for="MyProperty"></label>
    <input asp-for="MyProperty" class="form-control" />
    <span asp-validation-for="MyProperty"></span>



    <label asp-for="Price"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price"></span>


    <label asp-for="Rate"></label>
    <input asp-for="Rate" class="form-control" />
    <span asp-validation-for="Rate"></span>



    <label asp-for="Quantity"></label>
    <input asp-for="Quantity" class="form-control" />
    <span asp-validation-for="Quantity"></span>




    <label asp-for="Discount"></label>
    <input asp-for="Discount" class="form-control" />
    <span asp-validation-for="Discount"></span>




    <label asp-for="Image"></label>
    <input asp-for="Image" class="form-control" type="file" />
    <span asp-validation-for="Image"></span>



    
    <select name="CategoryId" class="form-control">
        <option disabled selected value="">-- Select Category --</option>
        @foreach (var x in ViewBag.Categories)
        {
            <option value="@x.Id">@x.Name</option>
        }
    </select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>

    <button type="submit" class="btn btn-primary">Ok</button>

</form>


